

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<header>
    <div>
        <nav>
            <ul>
                <li><a id="loginId" onclick="popup_modal('loginModal');">Login</a></li>
                <li><a id="registerId" onclick="popup_modal('registerModal');">Register</a></li>
                <li><a id="addAnimalId" onclick="popup_modal('addAnimalModal');">Add animal</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>