<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascripts/search.js"></script>
    <script src="/javascripts/animal.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"><</script>

</head>
<body>
<header>
    <div class="heading">
        <h3 id="welcomeId" onclick="popup_modal('welcome');">Pet Adoption</h3>
    </div>
    <div class="links">
        <nav>
            <ul>
                <li><a id="loginId" onclick="popup_modal('loginModal');">Login</a></li>
                <li><a id="registerId" onclick="popup_modal('registerModal');">Register</a></li>
                <li><a>Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="main">
    <div class="searchBar">
        <form id="searchForm" onsubmit="searchAnimal()">
            <input id="location_img"  type="image" src="../images/location.png" alt="Location">

            <select id="location" name="location">
                <option value="" selected>Location</option>
                <option value="Sheffield">Sheffield</option>
                <option value="London">London</option>
                <option value="Manchester">Manchester</option>
            </select>

            <select id="animalType" name="animalType">
                <option value="" selected>Animal type</option>
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
                <option value="Horse">Horse</option>
                <option value="Hamster">Hamster</option>

            </select>
            <input id="tags1" name="tags1" class="form-control" type="text" placeholder="Enter a description" aria-label="Search">
            <input id="magnify_glass" type="image" src="../images/magnify_glass.png" alt="Search">
        </form>
    </div>
    <div class="row">
        <%
        for(var i = 0; i < data.length; i++) { %>
            <div class="column pets">
                <div class="content">

                    <img src="<%= ""+data[i].animalImage %>" alt="<%= data[i].name %>" style="width:100%">

                    <h4><%= data[i].name %></h4>
                    <p><%= data[i].town %></p>
                </div>
            </div>

        <% } %>
    </div>
</div>

<script>
    filterSelection("all")

    function filterSelection(c) {
        var x, i;
        x = document.getElementsByClassName("column");
        if (c == "all") c = "";
        for (i = 0; i < x.length; i++) {
            w3RemoveClass(x[i], "show");
            if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
        }
    }

    function w3AddClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            if (arr1.indexOf(arr2[i]) == -1) {
                element.className += " " + arr2[i];
            }
        }
    }

    function w3RemoveClass(element, name) {
        var i, arr1, arr2;
        arr1 = element.className.split(" ");
        arr2 = name.split(" ");
        for (i = 0; i < arr2.length; i++) {
            while (arr1.indexOf(arr2[i]) > -1) {
                arr1.splice(arr1.indexOf(arr2[i]), 1);
            }
        }
        element.className = arr1.join(" ");
    }


    // Add active class to the current button (highlight it)
    var btnContainer = document.getElementById("myBtnContainer");
    var btns = btnContainer.getElementsByClassName("btn");
    for (var i = 0; i < btns.length; i++) {
        btns[i].addEventListener("click", function () {
            var current = document.getElementsByClassName("active");
            current[0].className = current[0].className.replace(" active", "");
            this.className += " active";
        });
    }
</script>

</body>
</html>