<footer>
    <div class="footer">
        <div id="footer-info">
            <p>Copyright 2021 PetAdoption. All rights reserved.</p>
            <p>Terms of Service | Privacy</p>
        </div>
        <div id="footer-links">
            <nav>
                <ul>
                    <li>About US</li>
                    <li>Meet the Team</li>
                    <li>What We Do</li>
                </ul>
            </nav>
        </div>

        <div class="clear"></div>
    </div>
</footer>