<style>
    .header nav ul li a {
        display: block;
        margin-right: 20px;
        paddding: 0 8px;
        font-family: Okra, Helvetica, sans-serif;
        color: #f9f8f8;
        font-size: 20px;
    }
</style>
<nav>
    <ul>
        <% if (user) { %>
            <li><a id="user">Hi, <%= user %></a></li>
                <% if(user === 'Admin') { %>
                    <li><a id="addAnimalId" onclick="popup_modal('addAnimalModal');">Add Animal</a></li>
                <%}%>
                    <li><a id="logout" action="/logout">Logout</a></li>

        <% } else { %>

            <li><a id="loginId" onclick="popup_modal('loginModal');">Login</a></li>
            <li><a id="registerId" onclick="popup_modal('registerModal');">Register</a></li>
        <% } %>

    </ul>
</nav>
