
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Okra,Helvetica,sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.filters {
    display: inline-block;

}


header {
    height: 120px;
}

header h1 {
    float: left;
    margin-top: 32px;
}

header nav {
    float: right;
}

header nav ul li {
    float: left;
    display: inline-block;
    margin-top: 20px;
}

header nav ul li a {
    display: block;
    margin-right: 20px;
    paddding: 0 8px;
    font-family: Okra,Helvetica,sans-serif;
    color: black;
    font-size: 20px;
}

<!--
/*header related */
header h3 {
    font-weight: bold;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;

}

header {
    height: 120px;
    color: black;
}

.heading h1 {
    float: left;
    margin-top: 32px;
}

.links nav {
    float: right;
    padding-block: 15px;
}

.links nav ul li {
    float: left;
    display: inline-block;
    margin-top: 20px;
}

.links nav ul li a {
    display: block;
    margin-right: 20px;
    paddding: 0 8px;
    font-family: Okra,Helvetica,sans-serif;
    font-size: 20px;
}
.heading {
    float: left;
    padding-left: 20px;
}


-->

.searchBar {

    align-content: center;
    color: #f9f8f8;
    cursor: pointer;
    border-radius: 1.2rem;
    width: 450px;
    height: 60px;
    border: 1px solid #f9f8f8;
    font-family: Okra,Helvetica,sans-serif;
    margin: auto;
    background-color: white;
    position: center;
}

.searchBar select {
    outline: none;
    border: 0px white;
    color: #aaaaaa;
    padding-block: 15px;
}
.searchBar input {
    outline: none;
    border: 0px white;
    color: #aaaaaa;

}
#magnify_glass {
    width: 20px;
    height: 20px;

}
#location_img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 10px;
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 0.6rem;
    border: 1px solid #888;
    width: 20%;
    font-family: Okra,Helvetica,sans-serif;

}

.modal-content .textField input {
    color: #aaaaaa;
    cursor: pointer;
    display: block;
    border-radius: 0.3rem;
    padding: 10px;
    width: 80%;
    border: 1px solid #aaaaaa;
    margin-bottom: 10px;
    font-family: Okra,Helvetica,sans-serif;
}

.button {

    font-family: Okra,Helvetica,sans-serif;
    font-size: 16px;
    background-color: black;
    border: none;
    color: #f9f8f8;
    border-radius: 0.3rem;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}


.modal-content .textField a {
    color: black;
    font-family: Okra,Helvetica,sans-serif;
    font-size: 16px;
}

.selectBox{

    width:20%;
    font-size: 16px;
    color: black;
    font-family: Okra,Helvetica,sans-serif;
    border-radius: 0.3rem;
    outline:0px;

}


/* Close button */
.close {
    float: right;
    font-size: 28px;
    color: #aaaaaa;
    font-weight: bold;
}

.close:hover,
.close:focus {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.searchBar {

    align-content: center;
    color: #f9f8f8;
    cursor: pointer;
    border-radius: 1.2rem;
    width: 450px;
    height: 60px;
    border: 1px solid #f9f8f8;
    font-family: Okra,Helvetica,sans-serif;
    margin: auto;
    background-color: white;
    position: center;
}

.searchBar select {
    outline: none;
    border: 0px white;
    color: #aaaaaa;
    padding-block: 15px;
}
.searchBar input {
    outline: none;
    border: 0px white;
    color: #aaaaaa;

}

#image {
    background-image: url('../images/welcome.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 70px;

}

#magnify_glass {
    width: 20px;
    height: 20px;

}
#location_img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 10px;
}
