.body {
    font-family: Okra,Helvetica,sans-serif;
    color: #f9f8f8;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}

.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.filters {
    display: inline-block;

}



/*header related */
header h3 {
    font-weight: bold;
    font-size: 40px;
    position: relative;
    text-transform: uppercase;

}

header {
    height: 120px;
    color: black;
}

.heading h1 {
    float: left;
    margin-top: 32px;
}

.links nav {
    float: right;
    padding-block: 15px;
}

.links nav ul li {
    float: left;
    display: inline-block;
    margin-top: 20px;
}

.links nav ul li a {
    display: block;
    margin-right: 20px;
    paddding: 0 8px;
    font-family: Okra,Helvetica,sans-serif;
    font-size: 20px;
}
.heading {
    float: left;
    padding-left: 20px;
}




.searchBar {

    align-content: center;
    color: #f9f8f8;
    cursor: pointer;
    border-radius: 1.2rem;
    width: 450px;
    height: 60px;
    border: 1px solid #f9f8f8;
    font-family: Okra,Helvetica,sans-serif;
    margin: auto;
    background-color: white;
    position: center;
}

.searchBar select {
    outline: none;
    border: 0px white;
    color: #aaaaaa;
    padding-block: 15px;
}
.searchBar input {
    outline: none;
    border: 0px white;
    color: #aaaaaa;

}
#magnify_glass {
    width: 20px;
    height: 20px;

}
#location_img {
    width: 30px;
    height: 30px;
    padding-left: 5px;
    padding-top: 10px;
}
